<h1 class="center">Flight Arrivals</h1>
<div class="center">
  <table class="table" id="arrival_table">
    <thead>
      <tr>
        <th>Arrival Date and Time</th>
        <th>Arrival DOW</th>
        <th>Name</th>
        <th>Arrival Airport</th>
        <th>Terminal</th>
        <th>Arrival Flight #</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>3/31/2013 at 15:10</td>
        <td>Sunday</td>
        <td>Scott Dias</td>
        <td>NRT</td>
        <td>1</td>
        <td><%= link_to "UA 803", "http://www.united.com/web/en-US/apps/travel/flightStatus/default.aspx" %></td>
      </tr>
      <tr>
        <td>3/31/2013 at 15:10</td>
        <td>Sunday</td>
        <td>Judy Dias</td>
        <td>NRT</td>
        <td>1</td>
        <td><%= link_to "UA 803", "http://www.united.com/web/en-US/apps/travel/flightStatus/default.aspx" %></td>
      </tr>
      <tr>
        <td>3/31/2013 at 16:25</td>
        <td>Sunday</td>
        <td>Andrew Hemings</td>
        <td>NRT</td>
        <td>1</td>
        <td><%= link_to "Delta 295", "http://www.delta.com/flifo/servlet/DeltaFlifo?airline_code=DL&flight_number=295&flight_date=03/30/2013&request=main" %></td>
      </tr>
      <tr>
        <td>4/04/2013 at 19:00</td>
        <td>Thursday</td>
        <td>Rowena Medland</td>
        <td>NRT</td>
        <td>2</td>
        <td><%= link_to "QF 251", "http://www.qantas.com.au/travel/airlines/flight-status/global/en" %></td>
      </tr>
      <tr>
        <td>4/05/2013 at 13:55</td>
        <td>Friday</td>
        <td>Tim Koch</td>
        <td>NRT</td>
        <td>1</td>
        <td><%= link_to "UA 79", "http://www.united.com/web/en-US/apps/travel/flightStatus/default.aspx" %></td>
      </tr>
      <tr>
        <td>4/05/2013 at 14:30</td>
        <td>Friday</td>
        <td>Jodi Dias</td>
        <td>NRT</td>
        <td>1</td>
        <td><%= link_to "UA 7", "http://www.united.com/web/en-US/apps/travel/flightStatus/default.aspx" %></td>
      </tr>
      <tr>
        <td>4/05/2013 at 15:00</td>
        <td>Friday</td>
        <td>Kelly Impey</td>
        <td>NRT</td>
        <td>1</td>
        <td><%= link_to "UA 32", "http://www.united.com/web/en-US/apps/travel/flightStatus/default.aspx" %></td>
      </tr>
      <tr>
        <td>4/05/2013 at 15:00</td>
        <td>Friday</td>
        <td>Helen May Hemings</td>
        <td>NRT</td>
        <td>1</td>
        <td><%= link_to "UA 32", "http://www.united.com/web/en-US/apps/travel/flightStatus/default.aspx" %></td>
      </tr>
      <tr>
        <td>4/05/2013 at 16:40</td>
        <td>Friday</td>
        <td>Dave Hanson</td>
        <td>NRT</td>
        <td>2</td>
        <td><%= link_to "AA 153", "http://www.aa.com/travelInformation/gatesTimesAccess.do" %></td>
      </tr>
      <tr>
        <td>4/05/2013 at 19:15</td>
        <td>Friday</td>
        <td>Paul Dalton</td>
        <td>NRT</td>
        <td>1</td>
        <td><%= link_to "SQ 11", "http://www.singaporeair.com/en_UK/travel-information/flight-status/" %></td>
      </tr>
      <tr>
        <td>4/05/2013 at 19:15</td>
        <td>Friday</td>
        <td>Lana Dalton</td>
        <td>NRT</td>
        <td>1</td>
        <td><%= link_to "SQ 11", "http://www.singaporeair.com/en_UK/travel-information/flight-status/" %></td>
      </tr>
       <tr>
        <td>4/05/2013 at 22:30</td>
        <td>Friday</td>
        <td>Ryan Hanpeter</td>
        <td>HND</td>
        <td></td>
        <td><%= link_to "Delta 637", "http://www.delta.com/flifo/servlet/DeltaFlifo?airline_code=DL&flight_number=637&flight_date=04/4/2013&request=main" %></td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<h1 class="center">Flight Departures</h1>
<div class="center">
  <table class="table" id="departure_table">
    <thead>
      <tr>
        <th>Arrival Date and Time</th>
        <th>Arrival DOW</th>
        <th>Name</th>
        <th>Arrival Airport</th>
        <th>Terminal</th>
        <th>Arrival Flight #</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>4/10/2013 at 19:25</td>
        <td>Wednesday</td>
        <td>Scott Dias</td>
        <td>NRT</td>
        <td>1</td>
        <td><%= link_to "UA 880", "http://www.united.com/web/en-US/apps/travel/flightStatus/default.aspx" %></td>
      </tr>
      <tr>
        <td>4/10/2013 at 19:25</td>
        <td>Wednesday</td>
        <td>Judy Dias</td>
        <td>NRT</td>
        <td>1</td>
        <td><%= link_to "UA 880", "http://www.united.com/web/en-US/apps/travel/flightStatus/default.aspx" %></td>
      </tr>
      <tr>
        <td>4/11/2013 at 15:50</td>
        <td>Thursday</td>
        <td>Andrew Hemings</td>
        <td>NRT</td>
        <td>1</td>
        <td><%= link_to "Delta 284", "http://www.delta.com/flifo/servlet/DeltaFlifo?airline_code=DL&flight_number=295&flight_date=04/11/2013&request=main" %></td>
      </tr>
      <tr>
        <td>4/11/2013 at 20:25</td>
        <td>Thursday</td>
        <td>Rowena Medland</td>
        <td>NRT</td>
        <td>2</td>
        <td><%= link_to "QF 252", "http://www.qantas.com.au/travel/airlines/flight-status/global/en" %></td>
      </tr>
      <tr>
        <td>4/09/2013 at 17:30</td>
        <td>Tuesday</td>
        <td>Tim Koch</td>
        <td>NRT</td>
        <td>1</td>
        <td><%= link_to "UA 890", "http://www.united.com/web/en-US/apps/travel/flightStatus/default.aspx" %></td>
      </tr>
      <tr>
        <td>4/11/2013 at 16:30</td>
        <td>Thursday</td>
        <td>Jodi Dias</td>
        <td>NRT</td>
        <td>1</td>
        <td><%= link_to "UA 882", "http://www.united.com/web/en-US/apps/travel/flightStatus/default.aspx" %></td>
      </tr>
      <tr>
        <td>4/11/2013 at 17:30</td>
        <td>Thursday</td>
        <td>Kelly Impey</td>
        <td>NRT</td>
        <td>1</td>
        <td><%= link_to "UA 33", "http://www.united.com/web/en-US/apps/travel/flightStatus/default.aspx" %></td>
      </tr>
      <tr>
        <td>4/11/2013 at 17:30</td>
        <td>Thursday</td>
        <td>Helen May Hemings</td>
        <td>NRT</td>
        <td>1</td>
        <td><%= link_to "UA 33", "http://www.united.com/web/en-US/apps/travel/flightStatus/default.aspx" %></td>
      </tr>
      <tr>
        <td>4/10/2013 at 15:55</td>
        <td>Wednesday</td>
        <td>Dave Hanson</td>
        <td>NRT</td>
        <td>2</td>
        <td><%= link_to "AA 170", "http://www.aa.com/travelInformation/gatesTimesAccess.do" %></td>
      </tr>
      <tr>
        <td>4/13/2013 at 19:15</td>
        <td>Saturday</td>
        <td>Paul Dalton</td>
        <td>NRT</td>
        <td>1</td>
        <td><%= link_to "SQ 12", "http://www.singaporeair.com/en_UK/travel-information/flight-status/" %></td>
      </tr>
      <tr>
        <td>4/13/2013 at 19:15</td>
        <td>Saturday</td>
        <td>Lana Dalton</td>
        <td>NRT</td>
        <td>1</td>
        <td><%= link_to "SQ 12", "http://www.singaporeair.com/en_UK/travel-information/flight-status/" %></td>
      </tr>
       <tr>
        <td>4/10/2013 at 15:50</td>
        <td>Wednesday</td>
        <td>Ryan Hanpeter</td>
        <td>NRT</td>
        <td>1</td>
        <td><%= link_to "Delta 284", "http://www.delta.com/flifo/servlet/DeltaFlifo?airline_code=DL&flight_number=284&flight_date=04/10/2013&request=main" %></td>
      </tr>
    </tbody>
  </table>
</div>  