<% provide(:title, 'Itinerary') %>
<div id="sat_apr6">
  <br>
  <div class="center">
  <%= link_to "April 6th, 2013", "#sat_apr6" %> | <%= link_to "April 7th, 2013", "#sun_apr7" %> | <%= link_to "April 8th, 2013", "#mon_apr8" %> | <%= link_to "April 9th, 2013", "#tues_apr9" %> | <%= link_to "April 10th, 2013", "#wed_apr10" %>
  </div> 
  <br>
</div>
<h1 class="center">Saturday, April 6th, 2013</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th style="width: 10%">Time</th>
      <th style="width: 65%">Activity</th>
      <th style="width: 35%">Location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>8:00 - 12:30</td>
      <td>Free time - explore Utsunomiya. (For example: <%= link_to "Utsunomiya Castle", "http://www.jcastle.info/castle/profile/116-Utsunomiya-Castle", :target => "_blank" %>, <%= link_to "Tobu Department Store", "http://www.visitjapan.jp/app/webroot/eng/detail/J00736/", :target => "_blank" %>, <%= link_to "Gyoza City in the basement of Don Quijote", "http://www.donki.com/search/shop_detail_en.php?st_store_id=235", :target => "blank" %>)</td>
      <td></td>
    </tr>
    <tr>
      <td>9:00 - 11:00</td>
      <td>Kevin and Mari go to City Hall to register their marriage.</td>
      <td></td>
    </tr>
    <tr>
      <td>11:00 - 12:00</td>
      <td>Take the Dalton's (and any other guests who would like to <%= link_to "rent a cell phone", "http://www.softbank-rental.jp/e/rental-plan-ib02.php", :target => "_blank" %>) to <%= link_to "SoftBank", "https://maps.google.com/maps?q=softbank+%E5%AE%87%E9%83%BD%E5%AE%AE&hl=en&ie=UTF8&ll=36.608914,139.904366&spn=0.136419,0.21286&fb=1&hq=softbank&hnear=Utsunomiya,+Tochigi+Prefecture,+Japan&t=m&z=12&iwloc=B", :target => "_blank" %>.</td>
      <td></td>
    </tr>
    <tr>
      <td>12:30 - 16:00</td>
      <td>Cherry blossom viewing party.</td>
      <td><%= link_to "Hachimanyama Park", "http://japantourist.jp/view/utsunomiya-s-hachimanyama-park", :target => "_blank" %></td>
    </tr>
    <tr>
      <td>TBD</td>
      <td>Party</td>
      <td>Mr. and Mrs. Shimada's house</td>
    </tr>
  </tbody>
</table>
<div id="sun_apr7">
  <br>
  <br>
  <br>
</div>
<h1 class="center">Sunday, April 7th, 2013</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th style="width: 10%">Time</th>
      <th style="width: 35%">Location</th>
      <th style="width: 55%">Information</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>8:00</td>
      <td>Make-up Room (2nd floor)</td>
      <td>Mari starts getting ready (hair, make-up, kimono).</td>
    </tr>
    <tr>
      <td>8:50</td>
      <td>Make-up Room (2nd floor)</td>
      <td>Kevin starts getting ready (hakama).</td>
    </tr>
    <tr>
      <td>9:00 - 10:15</td>
      <td>Relatives/Guest room (2nd floor)</td>
      <td>A room for relatives and guests to get ready is open. All relatives and guests attending the wedding ceremony <strong>should be ready by 10:00</strong> and gather in this room.</td>
    </tr>
    <tr>
      <td>10:15</td>
      <td>"Hana no ma" Room 華の間 (2nd floor)</td>
      <td>Introduction of all relatives and guests attending the wedding ceremony.</td>
    </tr>
    <tr>
      <td>10:35</td>
      <td>Photo Studio (2nd Floor)</td>
      <td>Group photo of all the relatives and guests attending the wedding ceremony.</td>
    </tr>
    <tr>
      <td>10:45</td>
      <td>Garden</td>
      <td>Procession from the hotel to the shrine (Mari and Kevin will ride on a rickshaw).</td>
    </tr>
    <tr>
      <td>11:00</td>
      <td>Shrine</td>
      <td>Start of the Wedding ceremony.</td>
    </tr>
    <tr>
      <td>11:30</td>
      <td>Shrine</td>
      <td>End of the Wedding ceremony.</td>
    </tr>
    <tr>
      <td>11:45 - 12:20</td>
      <td>Garden / Lobby</td>
      <td>Enjoy appetizers and conversation in the garden or hotel lobby until the reception. The majority of guests will begin arriving at this time.</td>
    </tr>
    <tr>
      <td>12:20</td>
      <td>Garden Breeze Room</td>
      <td>Guests begin entering the Garden Breeze room for the reception (sign guest book at reception).</td>
    </tr>
    <tr>
      <td>12:30</td>
      <td>Garden Breeze Room</td>
      <td>Start of the reception (Kevin and Mari enter).</td>
    </tr>
    <tr>
      <td>12:33</td>
      <td>Garden Breeze Room</td>
      <td>MC short welcome message to start the reception.</td>
    </tr>
    <tr>
      <td>12:35</td>
      <td>Garden Breeze Room</td>
      <td>Kevin and Mari ‘Welcome Speech’.</td>
    </tr>
    <tr>
      <td>12:40</td>
      <td>Garden Breeze Room</td>
      <td>MC gives the background history of Kevin and Mari.</td>
    </tr>
    <tr>
      <td>12:45</td>
      <td>Garden Breeze Room</td>
      <td>Mr. Dave Hanson speech (Kevin’s friend).</td>
    </tr>
    <tr>
      <td>12:50</td>
      <td>Garden Breeze Room</td>
      <td>Dr. Keiichiro Ichimura speech (Mari’s boss).</td>
    </tr>
    <tr>
      <td>12:55</td>
      <td>Garden Breeze Room</td>
      <td>Kevin, Mari and their parents break the sake barrel.</td>
    </tr>
    <tr>
      <td>13:00</td>
      <td>Garden Breeze Room</td>
      <td>Mrs. Kelly Impey ‘Kanpai (Cheers!)’ short speech.</td>
    </tr>
    <tr>
      <td>13:02</td>
      <td>Garden Breeze Room</td>
      <td>Lunch service starts.</td>
    </tr>
    <tr>
      <td>13:10</td>
      <td>Garden Breeze Room</td>
      <td>Mr. Timothy Koch speech (Kevin’s friend).</td>
    </tr>
    <tr>
      <td>13:15</td>
      <td>Garden Breeze Room</td>
      <td>Dr. Paul Dalton speech (Mari’s host father).</td>
    </tr>
    <tr>
      <td>13:20 - 13:40</td>
      <td>Garden Breeze Room</td>
      <td>The MC will call up each table to take photos with Kevin and Mari. Guests will continue enjoying lunch and chatting.</td>
    </tr>
    <tr>
      <td>13:40</td>
      <td>Garden Breeze Room</td>
      <td>Mari leaves Ms. Rowena Medland to change from her kimono into her wedding dress.</td>
    </tr>
    <tr>
      <td>13:50</td>
      <td>Garden Breeze Room</td>
      <td>Kevin leaves with Mrs. Helen May Hemings to change from his hakama into his tuxedo.</td>
    </tr>
    <tr>
      <td>13:50</td>
      <td>Garden Breeze Room</td>
      <td>Guests watch a history video of Kevin and Mari.</td>
    </tr>
    <tr>
      <td>14:00</td>
      <td>Garden Breeze Room</td>
      <td>Kevin and Mari return to the Garden Breeze room. Kevin and Mari walk around to each table and take pictures with the guests.</td>
    </tr>
    <tr>
      <td>14:20</td>
      <td>Garden Breeze Room</td>
      <td>Kevin and Mari cut the wedding cake.</td>
    </tr>
    <tr>
      <td>14:30</td>
      <td>Garden Breeze Room</td>
      <td>Mari and her sister perform 2 songs on the piano.</td>
    </tr>
    <tr>
      <td>14:38</td>
      <td>Garden Breeze Room</td>
      <td>MC reads any messages sent by guests who could not make it to the wedding.</td>
    </tr>
    <tr>
      <td>14:40</td>
      <td>Garden Breeze Room</td>
      <td>Mari and Kevin present flowers/gifts to their parents.</td>
    </tr>
    <tr>
      <td>14:42</td>
      <td>Garden Breeze Room</td>
      <td>Scott Dias speech (father of the groom).</td>
    </tr>
    <tr>
      <td>14:46</td>
      <td>Garden Breeze Room</td>
      <td>Kazuyuki Shimada speech (father of the bride).</td>
    </tr>
    <tr>
      <td>14:50</td>
      <td>Garden Breeze Room</td>
      <td>Mari speech.</td>
    </tr>
    <tr>
      <td>14:54</td>
      <td>Garden Breeze Room</td>
      <td>Kevin closing speech.</td>
    </tr>
    <tr>
      <td>14:58</td>
      <td>Garden Breeze Room</td>
      <td>Kevin, Mari and their parents leave the Garden Breeze room.</td>
    </tr>
    <tr>
      <td>15:00</td>
      <td>Garden Breeze Room</td>
      <td>Guests begin to leave the Garden Breeze room. Kevin, Mari and their parents will greet all of the guests just outside of the exit to the Garden Breeze room.</td>
    </tr>
    <tr>
      <td>15:00 - 16:30</td>
      <td>Garden Breeze Room</td>
      <td>Free time (pictures, relax, etc.).</td>
    </tr>
    <tr>
      <td>16:30 - 18:30</td>
      <td>Garden Breeze Room</td>
      <td>2nd Party (games, karaoke, dancing, etc.).</td>
    </tr>
  </tbody>
</table>
<div id="mon_apr8">
  <br>
  <br>
  <br>
</div>
<h1 class="center">Monday, April 8th, 2013</h1>
<h2 class="center">Estimated Cost: <%= number_to_currency(5000, :unit => "¥", :precision => 0) %> - <%= number_to_currency(6500, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(5000)) %> - <%= number_to_currency(yen_to_dollar(6500)) %>] per person.</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th style="width: 10%">Time</th>
      <th style="width: 75%">Activity</th>
      <th style="width: 15%">Estimated Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>10:00</td>
      <td>Depart from the Utsunomiya Grand Hotel.</td>
      <td></td>
    </tr>
    <tr>
      <td>10:00 - 11:00</td>
      <td>Drive to <%= link_to "Nikko", "http://www.nikko-jp.org/english/", :target => "_blank" %> (we will be renting a large bus).</td>
      <td></td>
    </tr>
    <tr>
      <td>11:00 - 12:30</td>
      <td>Visit the <%= link_to "Nikko Toshogu Shrine", "http://en.wikipedia.org/wiki/Nikkō_Tōshō-gū", :target => "_blank" %> (a UNESCO World Heritage Site).</td>
      <td><%= number_to_currency(1300, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(1300)) %>] per person (entrance ticket to the shrine).</td>
    </tr>
    <tr>
      <td>12:30 - 13:30</td>
      <td>Lunch (at a soba restaurant near Nikko Toshogu Shrine).</td>
      <td><%= number_to_currency(1000, :unit => "¥", :precision => 0) %> - <%= number_to_currency(1500, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(1000)) %> - <%= number_to_currency(yen_to_dollar(1500)) %>] per person.</td>
    </tr>
    <tr>
      <td>13:30 - 14:00</td>
      <td>Drive up <%= link_to "Irohazaka", "http://www.nikko-jp.org/english/chuzenji/irohazaka.html", :target => "_blank" %>.</td>
      <td></td>
    </tr>
    <tr>
      <td>14:00 - 14:30</td>
      <td><%= link_to "Akechidaira Ropeway", "http://www.nikko-jp.org/english/chuzenji/irohazaka.html", :target => "_blank" %>.</td>
      <td><%= number_to_currency(710, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(710)) %>] per person (roundtrip ticket).</td>
    </tr>
    <tr>
      <td>14:30 - 15:00</td>
      <td>Drive to Ryuzu Waterfall.</td>
      <td></td>
    </tr>
    <tr>
      <td>15:00 - 15:15</td>
      <td>Explore <%= link_to "Ryuzu Waterfall", "http://www.japan-guide.com/e/e3813.html", :target => "_blank" %>.</td>
      <td></td>
    </tr>
    <tr>
      <td>15:15 - 15:30</td>
      <td>Drive to Kegon Waterfall.</td>
      <td></td>
    </tr>
    <tr>
      <td>15:30 - 17:00</td>
      <td>Explore shops near Chuzenjiko / Visit <%= link_to "Kegon Waterfall", "http://www.japan-guide.com/e/e3812.html", :target => "_blank" %>.</td>
      <td><%= number_to_currency(530, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(530)) %>] per person (elevator to bottom of Kegon Waterfall).</td>
    </tr>
    <tr>
      <td>17:00 - 17:45</td>
      <td>Drive down Irohazaka to Genki Zushi.</td>
      <td></td>
    </tr>
    <tr>
      <td>18:00 - 20:00</td>
      <td>Dinner at <%= link_to "Genki Zushi", "http://www.genkisushi.co.jp", :target => "_blank" %> (conveyor belt sushi restaurant).</td>
      <td><%= number_to_currency(1500, :unit => "¥", :precision => 0) %> - <%= number_to_currency(2500, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(1500)) %> - <%= number_to_currency(yen_to_dollar(2500)) %>] per person depending on how hungry you are.</td>
    </tr>
    <tr>
      <td>20:00 - 21:30</td>
      <td>Drive back to the Utsunomiya Grand Hotel.</td>
      <td></td>
    </tr>
  </tbody>
</table>
<div id="tues_apr9">
  <br>
  <br>
  <br>
</div>
<h1 class="center">Tuesday, April 9th, 2013</h1>
<h2 class="center">Estimated Cost: <%= number_to_currency(8510, :unit => "¥", :precision => 0) %> - <%= number_to_currency(12510, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(8510)) %> - <%= number_to_currency(yen_to_dollar(12510)) %>] per person.</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th style="width: 10%">Time</th>
      <th style="width: 75%">Activity</th>
      <th style="width: 15%">Estimated Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>8:00</td>
      <td>Check out of the Utsunomiya Grand Hotel and meet in the hotel lobby.</td>
      <td></td>
    </tr>
    <tr>
      <td>8:30</td>
      <td>Take a shuttle bus to JR Utsunomiya Station.</td>
      <td></td>
    </tr>
    <tr>
      <td>9:10 - 10:52</td>
      <td>Take train from Utsunomiya Station to Ueno Station. (<%= link_to "Departure Track #7 from JR Utsunomiya Line at 9:10", "http://www.hyperdia.com/en/cgi/en/search.html?dep_node=UTSUNOMIYA&arv_node=UENO&via_node01=&via_node02=&via_node03=&year=2013&month=04&day=09&hour=09&minute=00&search_type=0&search_way=&transtime=undefined&sort=0&max_route=5&ship=off&sprexprs=off&sprnozomi=off&lmlimit=null&search_target=route&facility=reserved&sum_target=7", :target => "_blank" %>)</td>
      <td><%= number_to_currency(1890, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(1890)) %>] per person.</td>
    </tr>
    <tr>
      <td>11:00 - 11:30</td>
      <td>Drop off luggage at the <%= link_to "Tokyo Ueno New Izu Hotel", "http://izuhotel.co.jp/english/access/", :target => "_blank" %> (check-in doesn’t start until 3pm).</td>
      <td></td>
    </tr>
    <tr>
      <td>11:44 - 11:58</td>
      <td>Take train from Ueno Station to Oshiage Station. (<%= link_to "Tokyo Metro Ginza Line to Asakusa and then transfer to the Toei Subway Asakusa Line and take the 11:54 AM train to Oshiage Station", "http://www.hyperdia.com/en/cgi/en/search.html?dep_node=UENO&arv_node=OSHIAGE&via_node01=&via_node02=&via_node03=&year=2013&month=04&day=09&hour=11&minute=44&search_type=0&search_way=&transtime=undefined&sort=0&max_route=5&ship=off&lmlimit=null&search_target=route&facility=reserved&sum_target=7", :target => "_blank" %>)</td>
      <td><%= number_to_currency(260, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(260)) %>] per person.</td>
    </tr>
    <tr>
      <td>12:00 - 12:30</td>
      <td>Eat lunch near the base of Tokyo SkyTree.</td>
      <td><%= number_to_currency(1000, :unit => "¥", :precision => 0) %> - <%= number_to_currency(1500, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(1000)) %> - <%= number_to_currency(yen_to_dollar(1500)) %>] per person.</td>
    </tr>
    <tr>
      <td>12:30 - 14:00</td>
      <td>Go to the viewing deck of <%= link_to "Tokyo SkyTree", "http://www.tokyo-skytree.jp/en/", :target => "_blank" %>.</td>
      <td><%= number_to_currency(2500, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(2500)) %>] per person for the Tokyo SkyTree Tembo Deck (350m). Tickets to the Tokyo Skytree Tembo Galleria (450m) are an additional <%= number_to_currency(1000, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(1000)) %>] per person.</td>
    </tr>
    <tr>
      <td>14:22 - 15:17</td>
      <td>Tim Koch departs for Narita Airport Terminal 1 from Oshiage Station. Take the <%= link_to "Keisei Oshiage Line Access Express (might also be called the Narita SKY ACCESS Keisei Line) departing at 14:22", "http://www.hyperdia.com/en/cgi/en/search.html?dep_node=OSHIAGE&arv_node=NARITA%20AIRPORT%20TERMINAL%201&via_node01=&via_node02=&via_node03=&year=2013&month=04&day=09&hour=14&minute=15&search_type=0&search_way=&transtime=undefined&sort=0&max_route=5&ship=off&lmlimit=null&search_target=route&facility=reserved&sum_target=7", :target => "_blank" %>.</td>
      <td><%= number_to_currency(1130, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(1130)) %>] per person.</td>
    </tr>
    <tr>
      <td>14:31 - 14:43</td>
      <td>Take train from Oshiage Station to Ryogoku Station (<%= link_to "Toei Subway Asakusa Line to Asakusabashi and then transfer to JR Chuo/Sobu Line leaving at 14:41 to Ryogoku station", "http://www.hyperdia.com/en/cgi/en/search.html?dep_node=OSHIAGE&arv_node=RYOGOKU&via_node01=&via_node02=&via_node03=&year=2013&month=04&day=09&hour=14&minute=30&search_type=0&search_way=&transtime=undefined&sort=0&max_route=5&ship=off&lmlimit=null&search_target=route&facility=reserved&sum_target=7", :target => "_blank" %>).</td>
      <td><%= number_to_currency(300, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(300)) %>] per person.</td>
    </tr>
    <tr>
      <td>15:00 - 17:00</td>
      <td>Visit the <%= link_to "Edo Tokyo Museum", "http://www.edo-tokyo-museum.or.jp/english/", :target => "_blank" %>.</td>
      <td><%= number_to_currency(600, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(600)) %>] per person.</td>
    </tr>
    <tr>
      <td>17:15 - 17:25</td>
      <td>Take train from Ryogoku Station to Asakusa Station (<%= link_to "JR Chuo/Sobu line to Asakusabashi and transfer to the Toei Subway Asakusa Line leaving at 17:23 to Asakusa Station", "http://www.hyperdia.com/en/cgi/en/search.html?dep_node=RYOGOKU&arv_node=ASAKUSA(TOBU%2FSUBWAY)&via_node01=&via_node02=&via_node03=&year=2013&month=04&day=09&hour=17&minute=13&search_type=0&search_way=&transtime=undefined&sort=0&max_route=5&ship=off&lmlimit=null&search_target=route&facility=reserved&sum_target=7", :target => "_blank" %>).</td>
      <td><%= number_to_currency(300, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(300)) %>] per person.</td>
    </tr>
    <tr>
      <td>15:30 - 19:00</td>
      <td>Explore the <%= link_to "Asakusa area", "http://www.japan-guide.com/e/e3004.html", :target => "_blank" %> (<%= link_to "Sensoji Temple", "http://www.japan-guide.com/e/e3001.html", :target => "_blank" %>, <%= link_to "Kaminarimon", "http://en.wikipedia.org/wiki/Kaminarimon", :target => "_blank" %>, <%= link_to "Nakamise Shopping Street", "http://www.asakusa-nakamise.jp/shop-e.html", :target => "_blank" %>) and <%= link_to "Sumida Park", "http://www.mustlovejapan.com/subject/sumida_park/", :target => "_blank" %> (for cherry blossom viewing).</td>
      <td></td>
    </tr>
    <tr>
      <td>19:00</td>
      <td>Decide on dinner as a group. Options include eating from <%= link_to "festival food stalls", "http://en.wikipedia.org/wiki/Yatai_(retail)", :target => "_blank" %> in Sumida Park or returning to Ueno to go to a <%= link_to "Yakiniku BBQ restaurant", "http://en.wikipedia.org/wiki/Yakiniku", :target => "_blank" %>.</td>
      <td><%= number_to_currency(1500, :unit => "¥", :precision => 0) %> - <%= number_to_currency(4000, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(1500)) %> - <%= number_to_currency(yen_to_dollar(4000)) %>] per person depending on dinner option choice.</td>
    </tr>
    <tr>
      <td>TBD</td>
      <td>Take train from Asakusa Station to Ueno Station (Tokyo Metro Ginza Line) - 5 min.</td>
      <td><%= number_to_currency(160, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(160)) %>] per person.</td>
    </tr>
    <tr>
      <td>20:00~</td>
      <td>Ueno - free time. <%= link_to "Ueno park will probably be full of people having cherry blossom parties (depending on if the cherry blossoms are still in bloom in Toyko)", "http://www.japan-guide.com/e/e3050.html", :target => "_blank" %> all night long. Recommended for the adventurous.</td>
      <td></td>
    </tr>
  </tbody>
</table>
<div id="wed_apr10">
  <br>
  <br>
  <br>
</div>
<h1 class="center">Wednesday, April 10th, 2013</h1>
<h2 class="center">Estimated Cost: <%= number_to_currency(3930, :unit => "¥", :precision => 0) %> - <%= number_to_currency(7030, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(3930)) %> - <%= number_to_currency(yen_to_dollar(7030)) %>] per person.</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th style="width: 10%">Time</th>
      <th style="width: 75%">Activity</th>
      <th style="width: 15%">Estimated Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>5:09 - 5:21</td>
      <td>Take train from Ueno Station to Tsukiji Station. Ryan Hanpeter, Dave Hanson, Scott Dias and Judy Dias check out and take their luggage with them. (<%= link_to "Tokyo Metro Hibiya Line", "http://www.hyperdia.com/en/cgi/en/search.html?dep_node=UENO&arv_node=TSUKIJI&via_node01=&via_node02=&via_node03=&year=2013&month=04&day=10&hour=05&minute=00&search_type=0&search_way=&transtime=undefined&sort=0&max_route=5&ship=off&lmlimit=null&search_target=route&facility=reserved&sum_target=7", :target => "_blank" %>)</td>
      <td><%= number_to_currency(160, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(160)) %>] per person.</td>
    </tr>
    <tr>
      <td>5:25 - 6:15</td>
      <td>Watch the <%= link_to "Tuna Auction at the Tsukiji Fish Market", "http://www.japan-guide.com/e/e3021.html", :target => "_blank" %></td>
      <td></td>
    </tr>
    <tr>
      <td>6:15 - 7:00</td>
      <td>Breakfast sushi outside the Tsukiji Fish Market.</td>
      <td><%= number_to_currency(1000, :unit => "¥", :precision => 0) %> - <%= number_to_currency(2000, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(1000)) %> - <%= number_to_currency(yen_to_dollar(2000)) %>] per person.</td>
    </tr>
    <tr>
      <td>7:23 - 7:50</td>
      <td>Take train from Tsukiji Station to Harajuku Station (<%= link_to "Tokyo Metro Hibiya Line to Ebisu and then transfer to the JR Yamanote Line departing at 7:46 to Harajuku Station", "http://www.hyperdia.com/cgi/en/search.html?dep_node=TSUKIJI&arv_node=HARAJUKU&via_node01=EBISU(TOKYO)&via_node02=&via_node03=&year=2013&month=04&day=10&hour=07&minute=22&search_type=0&search_way=&transtime=undefined&sort=0&max_route=5&ship=off&lmlimit=null&search_target=route&facility=reserved&sum_target=7", :target => "_blank" %>).</td>
      <td><%= number_to_currency(320, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(320)) %>] per person.</td>
    </tr>
    <tr>
      <td>8:00 - 9:00</td>
      <td>Explore the <%= link_to "Meiji Shrine", "http://www.japan-guide.com/e/e3002.html", :target => "_blank" %>.</td>
      <td></td>
    </tr>
    <tr>
      <td>9:00 - 9:30</td>
      <td>Explore the <%= link_to "Harajuku area", "http://www.japan-guide.com/e/e3006.html", :target => "_blank" %>.</td>
      <td></td>
    </tr>
    <tr>
      <td>9:30 - 11:30</td>
      <td>Walk to and explore the <%= link_to "Shibuya area", "http://www.japan-guide.com/e/e3007.html", :target => "_blank" %>.</td>
      <td></td>
    </tr>
    <tr>
      <td>11:30 - 12:15</td>
      <td>Lunch at <%= link_to "Ichiran Ramen", "http://www.tripadvisor.com/Restaurant_Review-g1066456-d1688898-Reviews-Ichiran-Shibuya_Tokyo_Tokyo_Prefecture_Kanto.html", :target => "_blank" %> in Shibuya. <%= link_to "Map to Ichiran Ramen Shibuya", "http://maps.google.es/maps?q=%E4%B8%80%E8%98%AD+%E6%B8%8B%E8%B0%B7%E5%BA%97+%EF%BC%91%E2%88%92%EF%BC%92%EF%BC%92%E2%88%92%EF%BC%97+Jinnan&hl=en&ie=UTF8&sll=35.662596,139.700303&sspn=0.019142,0.027895&hq=%E4%B8%80%E8%98%AD+%E6%B8%8B%E8%B0%B7%E5%BA%97+%EF%BC%91%E2%88%92%EF%BC%92%EF%BC%92%E2%88%92%EF%BC%97&hnear=Jinnan,+Shibuya,+Tokyo,+Japan&t=m&z=16", :target => "_blank" %>.</td>
      <td><%= number_to_currency(800, :unit => "¥", :precision => 0) %> - <%= number_to_currency(1400, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(800)) %> - <%= number_to_currency(yen_to_dollar(1400)) %>] per person.</td>
    </tr>
    <tr>
      <td>12:33 - 13:43</td>
      <td>Ryan Hanpeter and Dave Hanson depart for Narita Airport (Ryan for Terminal 1 and Dave for Terminal 2) from Shibuya Station. Both take the JR Yamanote Line to Nippori (Shinjuku direction). At Nippori transfer to the Keisei Skyliner 29 leaving for Narita at 13:05. This train will arrive at <%= link_to "Terminal 1 at 13:43", "http://www.hyperdia.com/cgi/en/search.html?dep_node=SHIBUYA&arv_node=NARITA%20AIRPORT%20TERMINAL%201&via_node01=&via_node02=&via_node03=&year=2013&month=04&day=10&hour=13&minute=45&search_type=1&search_way=&transtime=undefined&sort=0&max_route=5&ship=off&lmlimit=null&search_target=route&facility=reserved&sum_target=7", :target => "_blank" %> and at <%= link_to "Terminal 2 at 13:41", "http://www.hyperdia.com/cgi/en/search.html?dep_node=SHIBUYA&arv_node=NARITA%20AIRPORT%20TERMINAL%202&via_node01=&via_node02=&via_node03=&year=2013&month=04&day=10&hour=13&minute=45&search_type=1&search_way=&transtime=undefined&sort=0&max_route=5&ship=off&lmlimit=null&search_target=route&facility=reserved&sum_target=7", :target => "_blank" %> .
      </td>
      <td><%= number_to_currency(2590, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(2590)) %>] per person.</td>
    </tr>
    <tr>
      <td>12:33 - 12:39</td>
      <td>Take train from Shibuya Station to Shinjuku Station (<%= link_to "JR Yamanote Line", "http://www.hyperdia.com/cgi/en/search.html?dep_node=SHIBUYA&arv_node=SHINJUKU(JR)&via_node01=&via_node02=&via_node03=&year=2013&month=04&day=10&hour=12&minute=32&search_type=0&search_way=&transtime=undefined&sort=0&max_route=5&ship=off&lmlimit=null&search_target=route&facility=reserved&sum_target=7", :target => "_blank" %>).</td>
      <td><%= number_to_currency(150, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(150)) %>] per person.</td>
    </tr>
    <tr>
      <td>12:45 - 17:00</td>
      <td>Explore the <%= link_to "Shinjuku area", "http://www.japan-guide.com/e/e3011.html", :target => "_blank" %>.</td>
      <td></td>
    </tr>
    <tr>
      <td>15:40 - 16:56</td>
      <td>Scott and Judy Dias depart for Narita Airport Terminal 1 from Shinjuku Station on the <%= link_to "LTD. EXP NARITA EXPRESS 39", "http://www.hyperdia.com/en/cgi/en/search.html?dep_node=SHINJUKU(JR)&arv_node=NARITA%20AIRPORT%20TERMINAL%201&via_node01=&via_node02=&via_node03=&year=2013&month=04&day=10&hour=17&minute=00&search_type=1&search_way=&transtime=undefined&sort=0&max_route=5&ship=off&lmlimit=null&search_target=route&facility=reserved&sum_target=7", :target => "_blank" %>. Remember a separate reserved ticket must be purchased for the Narita Express (you can not just use the SUICA card). Mari can help with this.
      </td>
      <td><%= number_to_currency(3110, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(3110)) %>] per person.</td>
    </tr>
    <tr>
      <td>TBD</td>
      <td>Dinner and Free Time.</td>
      <td><%= number_to_currency(1500, :unit => "¥", :precision => 0) %> - <%= number_to_currency(3000, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(1500)) %> - <%= number_to_currency(yen_to_dollar(3000)) %>] per person.</td>
    </tr>
    <tr>
      <td>TBD</td>
      <td>Take train from Shinjuku Station to Ueno Station (JR Yamanote Line) - 24 min.</td>
      <td><%= number_to_currency(190, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(190)) %>] per person.</td>
    </tr>
  </tbody>
</table>