<div class="center">
  <%= link_to "April 6th, 2013", "#sat_apr6" %> | <%= link_to "April 7th, 2013", "#sun_apr7" %> | <%= link_to "April 8th, 2013", "#mon_apr8" %> | <%= link_to "April 9th, 2013", "#tues_apr9" %> | <%= link_to "April 10th, 2013", "#wed_apr10" %>
</div>  
<div id="sun_apr7">
  <br>
</div>
<h1 class="center">April 7th, 2013 (Sunday)</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th style="width: 10%">Time</th>
      <th style="width: 35%">Location</th>
      <th style="width: 55%">Information</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>8:00</td>
      <td>Make-up Room (2nd floor)</td>
      <td>Mari starts getting ready (hair, make-up, kimono).</td>
    </tr>
    <tr>
      <td>8:30</td>
      <td>Make-up Room (2nd floor)</td>
      <td>Kevin starts getting ready (hakama).</td>
    </tr>
    <tr>
      <td>9:00 - 10:15</td>
      <td>Relatives/Guest room (2nd floor)</td>
      <td>A room for relatives and guests to get ready is open. All relatives and guests attending the wedding ceremony <strong>should be ready by 10:00</strong> and gather in this room.</td>
    </tr>
    <tr>
      <td>10:15</td>
      <td>"Hana no ma" Room 華の間 (2nd floor)</td>
      <td>Introduction of all relatives and guests attending the wedding ceremony.</td>
    </tr>
    <tr>
      <td>10:35</td>
      <td>Photo Studio (2nd Floor)</td>
      <td>Group photo of all the relatives and guests attending the wedding ceremony.</td>
    </tr>
    <tr>
      <td>10:45</td>
      <td>Garden</td>
      <td>Procession from the hotel to the shrine (Mari and Kevin will ride on a rickshaw).</td>
    </tr>
    <tr>
      <td>11:00</td>
      <td>Shrine</td>
      <td>Start of the Wedding ceremony.</td>
    </tr>
    <tr>
      <td>11:30</td>
      <td>Shrine</td>
      <td>End of the Wedding ceremony.</td>
    </tr>
    <tr>
      <td>11:45 - 12:20</td>
      <td>Garden / Lobby</td>
      <td>Enjoy appetizers and conversation in the garden or hotel lobby until the reception. The majority of guests will begin arriving at this time.</td>
    </tr>
    <tr>
      <td>12:20</td>
      <td>Garden Breeze Room</td>
      <td>Guests begin entering the Garden Breeze room for the reception (sign guest book at reception).</td>
    </tr>
    <tr>
      <td>12:30</td>
      <td>Garden Breeze Room</td>
      <td>Start of the reception (Kevin and Mari enter).</td>
    </tr>
    <tr>
      <td>12:33</td>
      <td>Garden Breeze Room</td>
      <td>MC short welcome message to start the reception.</td>
    </tr>
    <tr>
      <td>12:35</td>
      <td>Garden Breeze Room</td>
      <td>Kevin and Mari ‘Welcome Speech’.</td>
    </tr>
    <tr>
      <td>12:40</td>
      <td>Garden Breeze Room</td>
      <td>MC gives the background history of Kevin and Mari.</td>
    </tr>
    <tr>
      <td>12:45</td>
      <td>Garden Breeze Room</td>
      <td>Mr. Dave Hanson speech (Kevin’s friend).</td>
    </tr>
    <tr>
      <td>12:50</td>
      <td>Garden Breeze Room</td>
      <td>Dr. Keiichiro Ichimura speech (Mari’s boss).</td>
    </tr>
    <tr>
      <td>12:55</td>
      <td>Garden Breeze Room</td>
      <td>Kevin, Mari and their parents break the sake barrel.</td>
    </tr>
    <tr>
      <td>13:00</td>
      <td>Garden Breeze Room</td>
      <td>Mrs. Kelly Impey ‘Kanpai (Cheers!)’ short speech.</td>
    </tr>
    <tr>
      <td>13:02</td>
      <td>Garden Breeze Room</td>
      <td>Lunch service starts.</td>
    </tr>
    <tr>
      <td>13:10</td>
      <td>Garden Breeze Room</td>
      <td>Mr. Timothy Koch speech (Kevin’s friend).</td>
    </tr>
    <tr>
      <td>13:15</td>
      <td>Garden Breeze Room</td>
      <td>Dr. Paul Dalton speech (Mari’s host father).</td>
    </tr>
    <tr>
      <td>13:20 - 13:40</td>
      <td>Garden Breeze Room</td>
      <td>The MC will call up each table to take photos with Kevin and Mari. Guests will continue enjoying lunch and chatting.</td>
    </tr>
    <tr>
      <td>13:40</td>
      <td>Garden Breeze Room</td>
      <td>Mari leaves Ms. Rowena Medland to change from her kimono into her wedding dress.</td>
    </tr>
    <tr>
      <td>13:50</td>
      <td>Garden Breeze Room</td>
      <td>Kevin leaves with Mrs. Helen May Hemings to change from his hakama into his tuxedo.</td>
    </tr>
    <tr>
      <td>13:50</td>
      <td>Garden Breeze Room</td>
      <td>Guests watch a history video of Kevin and Mari.</td>
    </tr>
    <tr>
      <td>14:00</td>
      <td>Garden Breeze Room</td>
      <td>Kevin and Mari return to the Garden Breeze room. Kevin and Mari walk around to each table and take pictures with the guests.</td>
    </tr>
    <tr>
      <td>14:20</td>
      <td>Garden Breeze Room</td>
      <td>Kevin and Mari cut the wedding cake.</td>
    </tr>
    <tr>
      <td>14:30</td>
      <td>Garden Breeze Room</td>
      <td>Mari and her sister perform 2 songs on the piano.</td>
    </tr>
    <tr>
      <td>14:38</td>
      <td>Garden Breeze Room</td>
      <td>MC reads any messages sent by guests who could not make it to the wedding.</td>
    </tr>
    <tr>
      <td>14:40</td>
      <td>Garden Breeze Room</td>
      <td>Mari and Kevin present flowers/gifts to their parents.</td>
    </tr>
    <tr>
      <td>14:42</td>
      <td>Garden Breeze Room</td>
      <td>Scott Dias speech (father of the groom).</td>
    </tr>
    <tr>
      <td>14:46</td>
      <td>Garden Breeze Room</td>
      <td>Kazuyuki Shimada speech (father of the bride).</td>
    </tr>
    <tr>
      <td>14:50</td>
      <td>Garden Breeze Room</td>
      <td>Mari speech.</td>
    </tr>
    <tr>
      <td>14:54</td>
      <td>Garden Breeze Room</td>
      <td>Kevin closing speech.</td>
    </tr>
    <tr>
      <td>14:58</td>
      <td>Garden Breeze Room</td>
      <td>Kevin, Mari and their parents leave the Garden Breeze room.</td>
    </tr>
    <tr>
      <td>15:00</td>
      <td>Garden Breeze Room</td>
      <td>Guests begin to leave the Garden Breeze room. Kevin, Mari and their parents will greet all of the guests just outside of the exit to the Garden Breeze room.</td>
    </tr>
    <tr>
      <td>15:00 - 16:30</td>
      <td>Garden Breeze Room</td>
      <td>Free time (pictures, relax, etc.).</td>
    </tr>
    <tr>
      <td>16:30 - 18:30</td>
      <td>Garden Breeze Room</td>
      <td>2nd Party (games, karaoke, dancing, etc.).</td>
    </tr>
  </tbody>
</table>
<div id="mon_apr8">
  <br>
</div>
<h1 class="center">April 8th, 2013 (Monday)</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th style="width: 10%">Time</th>
      <th style="width: 75%">Activity</th>
      <th style="width: 15%">Estimated Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>10:00</td>
      <td>Depart from the Utsunomiya Grand Hotel.</td>
      <td></td>
    </tr>
    <tr>
      <td>10:00 - 11:00</td>
      <td>Drive to <%= link_to "Nikko", "http://www.nikko-jp.org/english/", :target => "_blank" %> (we will be renting a large bus).</td>
      <td></td>
    </tr>
    <tr>
      <td>11:00 - 12:30</td>
      <td>Visit the <%= link_to "Nikko Toshogu Shrine", "http://en.wikipedia.org/wiki/Nikkō_Tōshō-gū", :target => "_blank" %> (a UNESCO World Heritage Site)</td>
      <td><%= number_to_currency(1300, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(1300)) %>] per person (entrance ticket to the shrine)</td>
    </tr>
    <tr>
      <td>12:30 - 13:30</td>
      <td>Lunch (at a soba restaurant near Nikko Toshogu Shrine)</td>
      <td><%= number_to_currency(1000, :unit => "¥", :precision => 0) %> - <%= number_to_currency(1500, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(1000)) %> - <%= number_to_currency(yen_to_dollar(1500)) %>] per person</td>
    </tr>
    <tr>
      <td>13:30 - 14:00</td>
      <td>Drive up <%= link_to "Irohazaka", "http://www.nikko-jp.org/english/chuzenji/irohazaka.html", :target => "_blank" %></td>
      <td></td>
    </tr>
    <tr>
      <td>14:00 - 14:30</td>
      <td><%= link_to "Akechidaira Ropeway", "http://www.nikko-jp.org/english/chuzenji/irohazaka.html", :target => "_blank" %></td>
      <td><%= number_to_currency(710, :unit => "¥", :precision => 0) %> [<%= number_to_currency(yen_to_dollar(710)) %>] per person (roundtrip ticket)</td>
    </tr>
    <tr>
      <td>14:30 - 15:00</td>
      <td>Drive to Ryuzu Waterfall</td>
      <td></td>
    </tr>
    <tr>
      <td>15:00 - 15:15</td>
      <td>Explore <%= link_to "Ryuzu Waterfall", "http://www.japan-guide.com/e/e3813.html", :target => "_blank" %></td>
      <td></td>
    </tr>
    <tr>
      <td>11:45 - 12:20</td>
      <td>Garden / Lobby</td>
      <td>Enjoy appetizers and conversation in the garden or hotel lobby until the reception. The majority of guests will begin arriving at this time.</td>
    </tr>
    <tr>
      <td>12:20</td>
      <td>Garden Breeze Room</td>
      <td>Guests begin entering the Garden Breeze room for the reception (sign guest book at reception).</td>
    </tr>
    <tr>
      <td>12:30</td>
      <td>Garden Breeze Room</td>
      <td>Start of the reception (Kevin and Mari enter).</td>
    </tr>
    <tr>
      <td>12:33</td>
      <td>Garden Breeze Room</td>
      <td>MC short welcome message to start the reception.</td>
    </tr>
    <tr>
      <td>12:35</td>
      <td>Garden Breeze Room</td>
      <td>Kevin and Mari ‘Welcome Speech’.</td>
    </tr>
    <tr>
      <td>12:40</td>
      <td>Garden Breeze Room</td>
      <td>MC gives the background history of Kevin and Mari.</td>
    </tr>
    <tr>
      <td>12:45</td>
      <td>Garden Breeze Room</td>
      <td>Mr. Dave Hanson speech (Kevin’s friend).</td>
    </tr>
    <tr>
      <td>12:50</td>
      <td>Garden Breeze Room</td>
      <td>Dr. Keiichiro Ichimura speech (Mari’s boss).</td>
    </tr>
    <tr>
      <td>12:55</td>
      <td>Garden Breeze Room</td>
      <td>Kevin, Mari and their parents break the sake barrel.</td>
    </tr>
    <tr>
      <td>13:00</td>
      <td>Garden Breeze Room</td>
      <td>Mrs. Kelly Impey ‘Kanpai (Cheers!)’ short speech.</td>
    </tr>
    <tr>
      <td>13:02</td>
      <td>Garden Breeze Room</td>
      <td>Lunch service starts.</td>
    </tr>
    <tr>
      <td>13:10</td>
      <td>Garden Breeze Room</td>
      <td>Mr. Timothy Koch speech (Kevin’s friend).</td>
    </tr>
    <tr>
      <td>13:15</td>
      <td>Garden Breeze Room</td>
      <td>Dr. Paul Dalton speech (Mari’s host father).</td>
    </tr>
    <tr>
      <td>13:20 - 13:40</td>
      <td>Garden Breeze Room</td>
      <td>The MC will call up each table to take photos with Kevin and Mari. Guests will continue enjoying lunch and chatting.</td>
    </tr>
    <tr>
      <td>13:40</td>
      <td>Garden Breeze Room</td>
      <td>Mari leaves Ms. Rowena Medland to change from her kimono into her wedding dress.</td>
    </tr>
    <tr>
      <td>13:50</td>
      <td>Garden Breeze Room</td>
      <td>Kevin leaves with Mrs. Helen May Hemings to change from his hakama into his tuxedo.</td>
    </tr>
    <tr>
      <td>13:50</td>
      <td>Garden Breeze Room</td>
      <td>Guests watch a history video of Kevin and Mari.</td>
    </tr>
    <tr>
      <td>14:00</td>
      <td>Garden Breeze Room</td>
      <td>Kevin and Mari return to the Garden Breeze room. Kevin and Mari walk around to each table and take pictures with the guests.</td>
    </tr>
    <tr>
      <td>14:20</td>
      <td>Garden Breeze Room</td>
      <td>Kevin and Mari cut the wedding cake.</td>
    </tr>
    <tr>
      <td>14:30</td>
      <td>Garden Breeze Room</td>
      <td>Mari and her sister perform 2 songs on the piano.</td>
    </tr>
    <tr>
      <td>14:38</td>
      <td>Garden Breeze Room</td>
      <td>MC reads any messages sent by guests who could not make it to the wedding.</td>
    </tr>
    <tr>
      <td>14:40</td>
      <td>Garden Breeze Room</td>
      <td>Mari and Kevin present flowers/gifts to their parents.</td>
    </tr>
    <tr>
      <td>14:42</td>
      <td>Garden Breeze Room</td>
      <td>Scott Dias speech (father of the groom).</td>
    </tr>
    <tr>
      <td>14:46</td>
      <td>Garden Breeze Room</td>
      <td>Kazuyuki Shimada speech (father of the bride).</td>
    </tr>
    <tr>
      <td>14:50</td>
      <td>Garden Breeze Room</td>
      <td>Mari speech.</td>
    </tr>
    <tr>
      <td>14:54</td>
      <td>Garden Breeze Room</td>
      <td>Kevin closing speech.</td>
    </tr>
    <tr>
      <td>14:58</td>
      <td>Garden Breeze Room</td>
      <td>Kevin, Mari and their parents leave the Garden Breeze room.</td>
    </tr>
    <tr>
      <td>15:00</td>
      <td>Garden Breeze Room</td>
      <td>Guests begin to leave the Garden Breeze room. Kevin, Mari and their parents will greet all of the guests just outside of the exit to the Garden Breeze room.</td>
    </tr>
    <tr>
      <td>15:00 - 16:30</td>
      <td>Garden Breeze Room</td>
      <td>Free time (pictures, relax, etc.).</td>
    </tr>
    <tr>
      <td>16:30 - 18:30</td>
      <td>Garden Breeze Room</td>
      <td>2nd Party (games, karaoke, dancing, etc.).</td>
    </tr>
  </tbody>
</table>